<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:sws="http://www.springframework.org/schema/web-services"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
        http://www.springframework.org/schema/web-services http://www.springframework.org/schema/web-services/web-services-2.0.xsd
        http://www.springframework.org/schema/mvc  http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd">
    <!--webservice实现类 endpoint 所在包-->
    <context:component-scan base-package="cn.wannshan.j2ee.ws"></context:component-scan>

    <sws:annotation-driven/>

    <!--动态生成wsdl文件url http://host:port/webservice/queryService/queryContry.wsdl-->
    <sws:dynamic-wsdl id="queryContry"
                      portTypeName="query"
                      locationUri="/webservice/queryService/"
                      targetNamespace="http://j2eeweb.wannshan.cn/hr/schemas">
    <sws:xsd location="/WEB-INF/hr.xsd"/>
    </sws:dynamic-wsdl>
    <!--静态wsdl 指定文件 一般现有动态生成，最后上生产考到静态文件中去-->
    <!--<sws:static-wsdl id="queryContry" location="/WEB-INF/queryContry.wsdl"/>-->

    <!--webservie 异常处理器-->
    <bean id="exceptionResolver"
          class="org.springframework.ws.soap.server.endpoint.SoapFaultMappingExceptionResolver">
        <property name="defaultFault" value="SERVER"/>
        <property name="exceptionMappings">
            <value>
                org.springframework.oxm.ValidationFailureException=CLIENT,Invalid request
            </value>
        </property>
    </bean>

</beans>